.upper{
    display: flex;
    justify-content: space-between;
    width: 45%;
    align-items: center;
}

.upper button{
    padding: 0px 60px;
   height: 40px;
   
}
.upper input{
    padding: 0px 58px;
   height: 37px;
   
}

