    #navbar {
        display: flex;
        padding-left: 4%;
        padding-right: 4%;
        border: solid black 1px;
        justify-content: space-between;
    }

    #options {
        display: flex;
        gap: 20px;
    }
    #data{
        display: grid;
        width: 80%;
        margin: auto;
        padding: 5%;
        grid-template-columns: repeat(4,1fr);
        border: 1px solid red;
    }

    #data img{
        width: 50%;
        height: 50%;
    }