
    *{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }


    .head {
        font-size: 30px;
        font-weight: bolder;
        color: rgb(254, 189, 105);
        text-decoration: underline;
    }

    .container {
        height: auto;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 35%;
        align-items: center;
        text-align: center;
        margin-top: 5%;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;



    }

    input {
        margin-top: 20px;
        padding: 5px 50px;

    }

    #button {
        background-color: rgb(25, 157, 197);
        border: transparent;
        margin-top: 20px;
        padding: 10px 40px;
        cursor: pointer;
        margin-bottom: 20px;

    }

    .container>div:last-child {
        margin-bottom: 20px;
    }

    
    header{
        border: 2px solid black;
        height: 50px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .nav>a{
        margin-left: 40px;
        margin-right: 40px;
        text-decoration: none;
        font-weight: bolder;
        color: black;

        
    }

